.pb2b-modal-wrapper {
	z-index: 999;
	position:fixed;
	overflow:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba( 0, 0, 0, 0.5 );

}

.pb2b-modal-content {
	margin:15% auto;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	width:425px;
	background-color: rgba( 250, 250, 250 );
}

.pb2b-hide-iframe {
	display:none;
}

.pb2b-show-iframe {
	display:block;
}

.pb2b-close-modal {
	color:red;
	cursor: pointer;
	clear:both;
	display:block;
	margin: 10px 10px 0px 0px;
	/* width:10px; */
}